.vtex-footer__list-title {
  min-height: 0.875rem;
}

.vtex-footer__accordion-icon path {
  fill: #727273;
}

/* Mobile */
@media screen and (min-width: 10em) {
  .vtex-footer__container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 40em) {
  .vtex-footer__container {
    flex-flow: row wrap;
  }
}

@media only screen and (min-width: 64em) {
  .vtex-footer__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .vtex-footer__container:first-of-type {
    padding-top: 1.5625rem;
  }

  .vtex-footer__container:last-of-type {
    padding-bottom: 1.5625rem;
  }
}

.vtex-store__template > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.vtex-store__template > div > div:last-child {
  margin-top: auto;
}
