.vtex-footer__list-title {
  min-height: 0.875rem;
}

.vtex-footer__accordion-icon path {
  fill: #727273;
}

/* Mobile */
@media screen and (min-width: 10em) {
  .vtex-footer__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 40em) {
  .vtex-footer__container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media only screen and (min-width: 40em) {
  .vtex-footer__container {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    flex-flow: row wrap;
  }
}

@media only screen and (min-width: 64em) {
  .vtex-footer__container {
    padding: 20px 4.375em 20px 4.375em;
  }

  .vtex-footer__container:first-of-type {
    padding-top: 25px;
  }

  .vtex-footer__container:last-of-type {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 80em) {
  .vtex-footer__container {
    padding-left: 8.75rem;
    padding-right: 8.75rem;
  }
}

.vtex-store__template > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.vtex-store__template > div > div:last-child {
  margin-top: auto;
}
