.vtex-footer {
  --vpadding: 1.25rem;
  --vpadding-limits: 1.5rem;
  --icon-filling: #727273;
  --tilte-min-height: 0.875rem;
}

.vtex-footer__list-title {
  min-height: var(--tilte-min-height);
}

.vtex-footer__accordion-icon path {
  fill: var(--icon-filling);
}

/* Mobile */
@media screen and (min-width: 10em) {
  .vtex-footer__container {
    flex-direction: column;
  }
}

@media screen and (min-width: 40em) {
  .vtex-footer__container {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 64em) {
  .vtex-footer__container {
    padding-top: var(--vpadding);
    padding-bottom: var(--vpadding);
  }

  .vtex-footer__container:first-of-type {
    padding-top: var(--vpadding-limits);
  }

  .vtex-footer__container:last-of-type {
    padding-bottom: var(--vpadding-limits);
  }
}
